<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://minkfunctionvisualstudio20200827012750.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/57368a75-9a79-484e-8dfd-32d29d0b0efb/resourcegroups/Thyrrestrup/providers/Microsoft.Web/sites/MinkFunctionVisualStudio20200827012750</ResourceId>
    <UserName>$MinkFunctionVisualStudio20200827012750</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://minkfunctionvisualstudio20200827012750.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>